<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v10.0" sku=".NET,Version=v10.0"/>
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
    <EnableWindowsFormsHighDpiAutoResizing enabled="true"/>
  </runtime>
</configuration>
